.Awar_dash {
  width: 100%;
  height: 91vh;
  overflow-y: auto;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.Awar_dash .Awar_dash_top {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.Awar_dash .Awar_dash_top .para {
  font-size: small;
  /* padding: 10px; */
}

.Awar_dash_table {
  /* border: 2px solid black; */
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.Awar_dash_table .table_para {
  padding-left: 5%;
  font-weight: bold;
  /* border: 2px solid black; */
}
.usermanage_btns_box {
  display: flex;
  justify-content: center;
}
.Awar_dash_btns_box{
  
  width: 96%;
  display: flex;
  justify-content: center;
}
.Awar_dash_btns {
  /* border: 2px solid black; */
  padding: 20px;
  width:89%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.Awar_dash_btn{
  width: 30%;
  text-align: center;
  padding-bottom: 20px;

}
.Awar_dash_btn{
  width: 40%;
  height: 38px;
  background-color: #205295;
  border: none;
  color: white;
  border-radius: 4px;
}
.Awar_dash_btn:hover,
.Awar_dash_btn:focus{
 border: 3px solid #205295;
 cursor: pointer;
 background-color: transparent;
 color: #205295;
}
