.screen7{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.screen7 .profile{
    height: 467px;
    width: 592px;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


}

.screen7 .profile .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}


.screen7 .profile .details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.screen7 .profile .details .name{
    margin-top: 10px;
}

.screen7 .profile .details .detail{
    width: 260px;
}

.details .contact{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}

.details .contact .contact_det{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width:100%;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}


.mailId{
    font-size: small;
}