* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.top_navbar {
  background-color: #285082;
  width: 100vw;
  height: 10vh;
  color: #fff;
  display: flex;
  align-items: center;
  /* border: 2px solid black; */
}

.top_navbar .titlee {
  width: 180px;
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: center;
  align-items: center;
  /* margin-left: 23px; */
  /* gap: 6px; */
  /* border: 2px solid white; */
  /* margin-left: 2%; */
  /* color:  #285082; */
  height: 50px;
}

.top_navbar .titlee .title_name {
  font-size:large;
  font-weight: bold;
}
