.content_box {
  width: 90%;
  height: 90vh;
  overflow-y: auto;
  background-color: whitesmoke;
}

.content_box .entich_top {
  /* border: 2px solid black; */
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.content_box .heading {
  /* border: 2px solid black; */
  padding: 10px;
  text-align: center;
}

.Template_b {
  height: auto;
  display: flex;
  gap: 40px;
  padding: 25px;
  flex-wrap: wrap;
}

.search_input {
  width: 310px;
  height: 37px;
  padding-left: 30px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}

.inp {
  position: relative;
}

.icon {
  position: absolute;
  /* left: 300px; */
  font-size: larger;
  top: 9px;
  left: 5px;
}

.bottom {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.back_btn {
  width: 120px;
  height: 37px;
  border-radius: 5px;
  outline: none;
  background-color: white;
  color: black;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
